.contenido {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 192, 203, 0.168), rgba(0, 0, 0, 0.339)), url(../public/fondoColores.jpg);
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    
}

.desafios {
    width: 80%;
    height: auto;
    background: yellowgreen;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
}
.desafio1{
    width: 350px;
    height: 300px;
    border: dashed 5px pink;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-shadow: 2px 2px 2px green;
    

}

.a{
    background: rgba(189, 10, 10, 0.741);
    color: black;
    background-image: url(../public/Desafio1/Calamar.jpg);
    background-size: cover;
    background-position: top;
    

}
.b{
    background: rgba(10, 79, 189, 0.741);
    background-image: url(../public/Desafio1/Laser.jpg);
    background-size: cover;
}
.c{
    background: rgba(40, 189, 10, 0.741);
    background-image: url(../public/Desafio1/Pikachu.jpg);
    background-size: cover;
}
.e{
    background: rgba(163, 37, 202, 0.979);
    background-image: url(../public/Desafio1/roca.jpg);
    background-size: cover;

}
.f{
    background: rgba(189, 177, 10, 0.741);
    background-image: url(../public/Desafio1/arbolitoPlanta.jpg);
    background-size: cover;

}
.g{
    background: rgba(23, 147, 166, 0.959);
    background-image: url(../public/Desafio1/ramitaBandera.jpg);
    background-size: cover;

}

.contenedor-historia{
    background-color: red;
    width: 80%;
    text-align: center;
    font-size: large;
    padding: 40px 30px;
}
